#content{
    text-align: left;
    position: absolute;
    top: 7.2em;
    left: 8.1em;
    right: 0em;
}
#content p{
    border: 0em solid gray;
    font: normal 1em "Bitstream Vera Serif",serif;
    line-height: 1.1em;
    background: #d8da3d;
    margin: 0em;
    margin-bottom: 1em;
    margin-right: 2em;
    padding-left: .2em;
}
#content p:hover{
    background: #abad85;
    color: black;
}
#content p:first-letter{
    font-size: 150%;
    font-weight: bold;
    float: center;
    color: white;
}
