div.header{
    position: absolute;
    height: 5em;
    right: 1em;
    left: 8em;
    top: 1em;
    color:#d8da3d;
    background-color: black;
}
#tml{
    font: normal bold 2em "Bitstream Vera Serif",serif;
    text-align: left;
    padding: 0em;
    margin: .650em;
    margin-left: .711em;
}
ul.navbar{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    position: absolute;
    top: 7em;
    left: 1em;
    width: 7.11em;
}
ul.navbar li{
    font: normal bold 1em "Bitstream Vera Serif",serif;
    background: black;
    margin: .2em 0;
    padding: .2em;
    border-left: 1.1em solid yellow;
    border-right: .1em solid yellow;
    border-top: .1em solid yellow;
    border-bottom: .1em solid yellow;
}
li a:link{
    background: black;
    background-color: black;
    color: #d8da3d;
    text-decoration: none;
}
li a:visited{
    background: black;
    color: #d8da3d;
    text-decoration: none;
}
li a:hover{
    background: black;
    color: yellow;
    text-decoration: none;
}
li a:active{
    background: black;
    color: yellow;
    text-decoration: none;
} 
#content{
    text-align: left;
    position: absolute;
    top: 7.2em;
    left: 8.1em;
    right: 0em;
}
#content p{
    border: 0em solid gray;
    font: normal 1em "Bitstream Vera Serif",serif;
    line-height: 1.1em;
    background: #d8da3d;
    margin: 0em;
    margin-bottom: 1em;
    margin-right: 2em;
    padding-left: .2em;
}
#content p:hover{
    background: #abad85;
    color: black;
}
#content p:first-letter{
    font-size: 150%;
    font-weight: bold;
    float: center;
    color: white;
}
div.footer{
    position: fixed;
    bottom: .1em;
    left: 1em;
    background-color: solid black;
}
#last{
    font: normal .35em "Bitstream Vera Serif",serif;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: 0em;
    margin-right: 0em;
}
#last a:link{
    background-color: #d8da3d;
    color: black;
    text-decoration: none;
}
#last a:hover{
    color: yellow;
}
